---
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialLinks from "../components/SocialLinks.astro";
import { Image } from "astro:assets";
import gkImage from "../assets/images/ganesshkumar-emoji.webp";

const pageTitle = "About | Ganessh Kumar";
const pageDescription = "Ganessh Kumar, a full-stack software engineer";
const currentPage = "About";

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");

const ldSchema = {
  "@context": "https://schema.org",
  "@type": "Article",
  url: canonicalUrl,
  datePublished: "2013-01-01",
  dateMofified: new Date().toISOString().split("T")[0],
  headline: pageTitle,
  name: pageTitle,
  description: pageDescription,
  author: {
    "@type": "Person",
    "@id": "https://www.ganesshkumar.com/author/ganesshkumar/#Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
    image: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
  publisher: {
    "@type": "Organization",
    "@id": "https://www.ganesshkumar.com",
    name: "Ganessh Kumar",
    logo: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
};
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  currentPage={currentPage}
  ldSchema={ldSchema}
>
  <div class="bg-whtie dark:bg-gray-800 dark:text-slate-100">
    <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden px-4">
      <p class="text-3xl my-2">
        <h1 class="font-bold text-3xl">
          <span
            class="tracking-wide underline decoration-sky-500 decoration-4 underline-offset-2"
            >About Me</span
          >
        </h1>
      </p>
      <Image
        class="my-5 w-96 h-96"
        src={gkImage}
        alt="profile picture"
      />
      <!-- <p class="text-xl">Hello and welcome to my blog!</p> -->
      <p class="pt-6">
        My name is Ganessh Kumar and I am a software engineer at Microsoft. I
        work on Microsoft Teams, a platform that enables collaboration and
        communication for millions of users around the world. I love creating
        solutions that make people&apos;s lives easier and more productive.
      </p>
      <p class="pt-6">
        In my free time, I enjoy building plugins for Obsidian, a powerful
        knowledge base that works on top of a local folder of plain text
        Markdown files. Obsidian is an amazing tool for note-taking, writing,
        and learning. I have created several plugins that enhance the
        functionality of Obsidian, such as:
      </p>
      <a
        class="after:content-['_↗']"
        href="https://github.com/ganesshkumar/obsidian-excel-to-markdown-table"
        target="_blank"
        rel="noreferrer"
      >
        <span class="underline text-blue-600"
          >Obsidian Excel to Markdown table</span
        >
      </a>
      <a
        class="underline text-blue-600 after:content-['_↗']"
        href="https://github.com/ganesshkumar/obsidian-table-editor"
        target="_blank"
        rel="noreferrer"
      >
        <span class="underline text-blue-600"
          >Obsidian Markdown Table Editor</span
        >
      </a>
      <a
        class="underline text-blue-600 after:content-['_↗']"
        href="https://github.com/ganesshkumar/obsidian-plugins-stats-ui"
        target="_blank"
        rel="noreferrer"
      >
        <span class="underline text-blue-600">Obsidian Plugin Stats</span>
      </a>
      <p class="pt-6">
        You can find all my plugins on the Obsidian community hub or on my
        [GitHub page](https://github.com/ganesshkumar). I hope you find them
        useful and feel free to give me feedback or suggestions.
      </p>
      <p class="pt-6">
        On this blog, I will share my thoughts and experiences on software
        development, Obsidian, and other topics that interest me. I hope you
        enjoy reading my posts and learn something new along the way. Thank you
        for visiting and stay tuned for more!
      </p>
      <img
        src="https://skillicons.dev/icons?i=typescript,javascript,html,css,tailwind,react,redux,nodejs,nestjs,java,kotlin,spring,python,flask,cs,dotnet,aws,azure,ansible,docker,kubernetes,graphql,linux&perline=50"
        alt="Skills"
      />
      <p class="pt-6">
        Social Media: &nbsp;
        <SocialLinks />
      </p>
    </div>
  </div>
</BaseLayout>
