---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BlogPost from "../components/BlogPost.astro";
import { Image } from 'astro:assets';
import gkImage from "../assets/images/ganesshkumar-emoji.webp";

const pageTitle = "Home | Ganessh Kumar";
const currentPage = "Home";

const ldSchema = {
  "@context": "https://schema.org",
  "@type": "Website",
  url: Astro.site,
  name: "Ganessh Kumar's personal website - Digital Garden",
  description: "Dive into the world of technology and programming with me",
  author: {
    "@type": "Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
  },
};

const allPosts = await Astro.glob("../pages/articles/*.md");
const recentPosts = allPosts.reverse().slice(0, 6);

const allProjects = await Astro.glob("../pages/projects/*.md");
const featuredProjects = allProjects
  .filter((project) => project.frontmatter.showcase)
  .sort((a, b) => b.frontmatter.order - a.frontmatter.order);
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage} ldSchema={ldSchema}>
  <div class="bg-white dark:bg-gray-800">
    <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden px-4">
      {/* Banner */}
      <header
        class="flex flex-col justify-center items-center"
        style={{ minHeight: "40vh" }}
      >
        <div
          class="w-full px-4 my-10 w-100 bg-gradient-to-r from-sky-700 to-cyan-500 text-slate-50 rounded-xl shadow-xl"
        >
          <div class="isolate flex flex-col md:flex-row">
            <div class="flex basis-1/2 justify-center">
              <div class="flex flex-col justify-center">
                <div class="text-sky-100">Hi 👋 I am</div>
                <h1 class="text-5xl font-bold mt-2">Ganessh Kumar R P</h1>
                <div class="text-xl mt-2 mb-4">
                  Full-Stack Software Engineer
                </div>
                <h2 class="text-xl font-normal">
                  Currently building Microsoft Teams at Microsoft.
                  <br />
                  I build and maintain Obsidian Plugins.
                </h2>
                <a href="/about" class="mt-4">
                  <button
                    type="button"
                    class="inline-flex gap-3 justify-center items-center text-black bg-amber-400 hover:bg-amber-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none w-36"
                  >
                    About me →
                  </button>
                </a>
              </div>
            </div>
            <div class="z-10 flex basis-1/2 justify-center">
              <Image
                class="z-10 object-cover h-96 w-96"
                src={gkImage}
                alt="profile picture"
              />
            </div>
          </div>
        </div>
      </header>

      <main class="px-2 my-10">
        {/* Featured Projects */}
        <section>
          <div class="flex justify-between flex-wrap">
            <div class="w-full md:w-auto">
              <span class="font-bold text-3xl tracking-wide dark:text-slate-100"
                >Featured</span
              >
              <span class="font-bold text-3xl text-sky-700 tracking-wide"
                >Projects</span
              >
            </div>
            <div>
              <a
                class="text-lg text-slate-700 dark:text-slate-300 underline decoration-sky-500 decoration-2 underline-offset-2 hover:text-sky-700 dark:hover:text-sky-400"
                href="/projects">View all projects →</a
              >
            </div>
          </div>
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8 mt-10"
          >
            {/* Featured projects */}
            {
              featuredProjects.map((project) => (
                <ProjectCard project={project} />
              ))
            }
          </div>
        </section>

        {/* Latest blog posts */}
        <section class="mt-20">
          <div class="flex justify-between flex-wrap">
            <div class="w-full md:w-auto">
              <span class="font-bold text-3xl tracking-wide dark:text-slate-100"
                >Recent</span
              >
              <span
                class="font-bold text-3xl dark:text-sky-400 text-sky-700 tracking-wide"
                >Articles</span
              >
            </div>
            <div>
              <a
                class="text-lg text-slate-700 dark:text-slate-300 underline decoration-sky-500 decoration-2 underline-offset-2 hover:text-sky-700 dark:hover:text-sky-400"
                href="/articles">View all articles →</a
              >
            </div>
          </div>
          <div class="grid grid-cols-1 gap-x-1 gap-y-1 mt-10 divide-y">
            {recentPosts.map((post) => <BlogPost post={post} />)}
          </div>
        </section>
      </main>
    </div>
  </div>
</BaseLayout>
