---
import { format } from 'date-fns'; 
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home | Ganessh Kumar";
const currentPage = 'Home';

const allPosts = await Astro.glob('../pages/articles/*.md');
const recentPosts = allPosts.reverse().slice(0, 3);

const allProjects = await Astro.glob('../pages/projects/*.md');
const featuredProjects = allProjects
                            .filter(project => project.frontmatter.showcase)
                            .sort((a, b) => b.frontmatter.order - a.frontmatter.order)
---

<BaseLayout pageTitle={pageTitle} currentPage={currentPage}>
  <div class='bg-white'>
    <div class='flex flex-col h-full'>
      {/* Banner */}
      <header class='flex flex-col justify-center items-center border border-0 border-b-2 border-sky-600 bg-sky-50' style={{minHeight: '60vh'}}>
        <div class='w-full my-10 container px-2 mx-auto w-100 lg:w-2/3 2xl:w-1/2'>
          <div class='isolate flex flex-col md:flex-row'>
            <div class='flex basis-1/2'>
              <div class='flex flex-col justify-center'>
                <h5 class='text-sky-600'>
                  Hi 👋 I am
                </h5>
                <div class='text-4xl text-black font-bold mt-2'>
                  Ganessh Kumar R P
                </div>
                <div class='text-xl my-5'>
                  Full-Stack Software Engineer
                </div>
                <p class='text-base text-slate-600'>
                  Currently building Microsoft Teams at Microsoft.
                  <br/>
                  I build and maintain Obsidian Plugins.
                </p>
                <a href="/about">
                  <button
                    type="button"
                    class="inline-flex gap-3 justify-center items-center text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-36">
                      About me →
                  </button>
                </a>
              </div>
            </div>
            <div class='z-10 flex basis-1/2 justify-end'>
              <img transition:name="ganesshkumar" class='z-10 object-cover h-96 w-96' src="/ganesshkumar-emoji.png" alt='profile picture' />
            </div>
          </div>
        </div>
      </header>
      
      <main class='px-2 my-10 container md:mx-auto w-100 lg:w-2/3 2xl:w-1/2'>
        {/* Featured Projects */}
        <section>
          <h1 class='flex justify-between'>
            <span>
              <span class='font-bold text-3xl tracking-wide'>Featured</span>
              <span class='font-bold text-3xl text-sky-600 tracking-wide'>Projects</span>
            </span>
            <span>
              <a class='text-base no-underline decoration-sky-600 hover:text-sky-600' href="/projects">View all projects →</a>
            </span>
          </h1>
          <div class='grid grid-cols-1 gap-x-8 gap-y-8 mt-10'>
            {/* Featured projects */}
            {featuredProjects.map(project => (
              <div class="group flex w-full mx-0 bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-sky-100 hover:border-sky-600 transition duration-300 hover:scale-105 dark:bg-gray-800 dark:hover:bg-gray-700">
                {project.frontmatter.boxIcon && <i class={`flex justify-center items-center text-sky-700 p-5 text-6xl bx ${project.frontmatter.boxIcon}`}/> }
                <div class="p-6">
                  <a href={project.frontmatter.repoUrl} class="no-underline hover:decoration hover:decoration-sky-600">
                    <h5 class="mb-2 mt-0 text-2xl font-bold tracking-tight text-slate-700 dark:text-white group-hover:text-sky-600 decoration-sky-600 group-hover:underline">{project.frontmatter.title}</h5>
                  </a>
                  <div class="my-1 text-slate-600 dark:text-gray-400">{project.frontmatter.summary}</div>
                  {/* <div class='px-6 pt-10 justify-self-end'>
                    <a href={project.frontmatter.repoUrl} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-600 rounded-lg hover:text-white hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 no-underline gap-2">
                        See Code →
                    </a>
                  </div> */}
                </div>
              </div>
            ))}
          </div>
        </section>

        {/* Latest blog posts */}
        <section class="mt-20">
          <h1 class='flex justify-between'>
            <span>
              <span class='font-bold text-3xl tracking-wide'>Recent</span>
              <span class='font-bold text-3xl text-sky-600 tracking-wide'>Articles</span>
            </span>
            <span>
              <a class='text-base no-underline decoration-sky-600 hover:text-sky-600' href="/articles">View all articles →</a>
            </span>
          </h1>
          <div class='mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 mt-10 lg:mx-0 lg:max-w-none lg:grid-cols-3'>
            {recentPosts.map(post => (
              <a href={post.url} class="group no-underline max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-lg hover:shadow-sky-100 hover:border-sky-600 transition duration-300 hover:-translate-y-2 dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 mt-0 text-2xl font-bold tracking-tight text-slate-700 dark:text-white">{post.frontmatter.title}</h5>
                <p class="font-semibold text-sm pt-1 text-slate-400 dark:text-gray-400">{format(new Date(post.frontmatter.date), 'LLLL d, yyyy')}</p>
                <p class="font-semibold uppercase text-xs pt-1 text-slate-400 dark:text-gray-400">{(post.frontmatter.tags || []).join(', ')}</p>
              </a>
            ))}
          </div>
        </section>
      </main>
    </div>
  </div>
</BaseLayout>