---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Projects | Ganessh Kumar";
const pageDescription = "Projects developed by Ganessh Kumar";
const currentPage = "Projects";

const allProjects = await Astro.glob("../pages/projects/*.md");
const featuredProjects = allProjects.sort(
  (a, b) => b.frontmatter.order - a.frontmatter.order
);

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");

const ldSchema = {
  "@context": "https://schema.org",
  "@type": "Article",
  url: canonicalUrl,
  datePublished: "2013-01-01",
  dateMofified: new Date().toISOString().split("T")[0],
  headline: pageTitle,
  name: pageTitle,
  description: pageDescription,
  author: {
    "@type": "Person",
    "@id": "https://www.ganesshkumar.com/author/ganesshkumar/#Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
    image: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
  publisher: {
    "@type": "Organization",
    "@id": "https://www.ganesshkumar.com",
    name: "Ganessh Kumar",
    logo: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
};
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription={pageDescription}
  currentPage={currentPage}
  ldSchema={ldSchema}
>
  <div class="bg-white dark:bg-gray-800">
    <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden px-4">
      <main>
        <p class="text-3xl my-2">
          <h1 class="font-bold text-3xl">
            <span
              class="tracking-wide underline decoration-sky-500 decoration-4 underline-offset-2 dark:text-slate-100"
              >Projects</span
            >
          </h1>
        </p>
        <section class="mb-10">
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8 mt-10"
          >
            {
              featuredProjects.map((project) => (
                <ProjectCard project={project} />
              ))
            }
          </div>
        </section>
      </main>
    </div>
  </div>
</BaseLayout>
