---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/globals.css";
import "../styles/prism-a11y-dark.css";

const description =
  "Dive into the world of technology with Ganessh Kumar on his personal website. Read easy-to-understand articles about cool stuff like Obsidian, Docker, Kubernetes, and privacy tools. Ganessh Kumar shares articles and his cool projects and explains Obsidian plugins in a way that's simple and fun. Stay updated on the latest tech trends and learn in a way that feels like a chat with a friend. Explore the exciting side of tech with Ganessh Kumar!";
const siteImage = "/ganesshkumar-emoji.webp";
const { pageTitle, pageDescription, currentPage, ldSchema } = Astro.props;

const schema = {
  "@context": "https://schema.org",
  "@type": "Website",
  headline: pageTitle,
  description: pageDescription || description,
  author: {
    "@type": "Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
  },
};

const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription || description} />
    <title>{pageTitle}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalUrl} />
    <!-- OpenGraph Metadata -->
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription || description} />
    <meta property="og:image" content={new URL(siteImage, Astro.site)} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content="website" />
    <!-- Twitter Metadata -->
    <meta property="twitter:title" content={pageTitle} />
    <meta
      property="twitter:description"
      content={pageDescription || description}
    />
    <meta property="twitter:image" content={new URL(siteImage, Astro.site)} />
    <meta property="twitter:url" content={canonicalUrl} />
    <meta property="twitter:card" content={pageDescription || description} />
    <!-- Schema.org JSON-LD data -->
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(ldSchema || schema)}
    />
    {/* Font: Google Nato Sans and Lato */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    {/* Icons: BoxIcons */}
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    {/* Analtics First Party */}
    <script defer data-domain="ganesshkumar.com" src="https://count.ganesshkumar.com/js/script.file-downloads.outbound-links.pageview-props.tagged-events.js"></script>
    <script is:inline>
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>
    {/* Dark Mode */}
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <Header currentPage={currentPage} />
    <slot />
    <Footer />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
    ></script>
  </body>
</html>
