---
import { format } from "date-fns";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const pageTitle = `${frontmatter.title} | Ganessh Kumar`;
const pageDescription = frontmatter.description || undefined;
const currentPage = "Articles";

const id = new URL(Astro.url.pathname, Astro.site).toString() + "#BlogPosting";
const canonicalUrl = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/$/, "");

const ldSchema = {
  "@context": "https://schema.org/",
  "@type": "BlogPosting",
  "@id": id,
  mainEntityOfPage: canonicalUrl,
  headline: frontmatter.title,
  name: frontmatter.title,
  description: frontmatter.description,
  datePublished: frontmatter.pubDate,
  author: {
    "@type": "Person",
    "@id": "https://www.ganesshkumar.com/author/ganesshkumar/#Person",
    name: "Ganessh Kumar",
    url: "https://www.ganesshkumar.com",
    image: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
  publisher: {
    "@type": "Organization",
    "@id": "https://www.ganesshkumar.com",
    name: "Ganessh Kumar",
    logo: {
      "@type": "ImageObject",
      "@id":
        "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      url: "https://secure.gravatar.com/avatar/3c574ac0072970fe85bebda60fa7d6b8?size=256",
      height: 256,
      width: 256,
    },
  },
  url: canonicalUrl,
  about: [...frontmatter.tags, ...frontmatter.categories],
};
---

<BaseLayout
  pageTitle={pageTitle}
  currentPage={currentPage}
  pageDescription={pageDescription}
  ldSchema={ldSchema}
>
  <div class="bg-whtie dark:bg-gray-800">
    <div class="flex flex-col h-full max-w-5xl mx-auto overflow-hidden px-4">
      <h1
        class="font-bold text-4xl cursor-default tracking-wide pb-2 border-b border-sky-600 dark:text-slate-100"
      >
        {frontmatter.title}
      </h1>
      <div class="flex flex-row justify-between mt-2 mb-10">
        <div class="text-slate-500 dark:text-slate-400 uppercase text-sm">
          {format(new Date(frontmatter.date), "LLLL d, yyyy")}
        </div>
        <div class="text-slate-500 dark:text-slate-400 uppercase text-sm">
          {frontmatter.tags.join(", ")}
        </div>
      </div>
      <div class="prose dark:prose-invert !max-w-none">
        <slot />
      </div>
      <hr class="mt-8" />
      <section class="py-16">
        <div class="text-slate-700 dark:text-slate-100 text-2xl font-semibold">
          Comments
        </div>
        <script
          is:inline
          src="https://utteranc.es/client.js"
          data-repo={"ganesshkumar/comments"}
          issue-term="pathname"
          data-label="comment"
          data-theme="github-light"
          crossorigin="anonymous"
          async></script>
      </section>
    </div>
  </div>
</BaseLayout>
