---
import { format } from "date-fns";
import BaseLayout from "./BaseLayout.astro";

// import '../styles/prism-a11y-dark.css';

const { frontmatter } = Astro.props;
const pageTitle = `${frontmatter.title} | Ganessh Kumar`;
const pageDescription = frontmatter.description || undefined;
const currentPage = "Articles";
---

<BaseLayout
  pageTitle={pageTitle}
  currentPage={currentPage}
  pageDescription={pageDescription}
>
  <div
    class="flex flex-col h-full max-w-5xl mx-auto bg-white overflow-hidden px-4"
  >
    <h1
      class="font-bold text-4xl cursor-default tracking-wide pb-2 border-b border-sky-600"
    >
      {frontmatter.title}
    </h1>
    <div class="flex flex-row justify-between mt-2 mb-10">
      <div class="text-slate-500 uppercase text-sm">
        {format(new Date(frontmatter.date), "LLLL d, yyyy")}
      </div>
      <div class="text-slate-500 uppercase text-sm">
        {frontmatter.tags.join(", ")}
      </div>
    </div>
    <div class="prose !max-w-none">
      <slot />
    </div>
  </div>
</BaseLayout>
